<!-- Content Heading -->
<% if (title) { %>
    <h1> <%= title %> </h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- flash messages if any will be displaced as a result of the following line of code -->
<%- messages() %>

<!-- Code block to handle errors -->
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>



 
  <form id="updateForm" action="/inv/update" method="post">
    <fieldset>
      <p>ALL FIELDS ARE REQUIRED</p>
        <label for="classificationId" id="classificationId">Classification </label><br>
        <!-- Dropmenu brought in -->
        <%- classificationSelect %> <br>
        <label for="invMake" >Make <br>
            <input name="inv_make" id="invMake" type="text" placeholder="Min of 3 characters" value="<%= locals.inv_make %>" required>
        </label><br>
        <label for="invModel" >Model <br>
          <input name="inv_model" id="invModel" type="text" placeholder="Min of 3 characters" value="<%= locals.inv_model %>" required>
        </label><br>
        <label for="invDescription" >Description <br>
          <textarea name="inv_description" id="invDescription" cols="30" rows="10" required><%= locals.inv_description %></textarea>
        </label><br>
        <label for="invImage" >Image Path <br>
          <input name="inv_image" id="invImage" type="text" value="/images/vehicles/no-image.png" required>
        </label><br>
        <label for="invThumbnail" >Thumbnail Path <br>
          <input name="inv_thumbnail" id="invThumbnail" type="text" value="/images/vehicles/no-image.png" required>
        </label><br>
        <label for="invPrice" >Price <br>
          <input name="inv_price" id="invPrice" type="text" pattern="[0-9]+(\.[0-9]+)?" value="<%= locals.inv_price %>" required>
        </label><br>
        <label for="invYear" >Year <br>
          <input name="inv_year" id="invYear" type="number" min="1899" max="2024" placeholder="4-digit year" value="<%= locals.inv_year %>" required>
        </label><br>
        <label for="invMiles" >Miles <br>
          <input name="inv_miles" id="invMiles" type="text" pattern="[0-9]*" placeholder="digits only" value="<%= locals.inv_miles %>" required>
        </label><br>
        <label for="invColor" >Color <br>
          <input name="inv_color" id="invColor" type="text" value="<%= locals.inv_color %>" required>
        </label><br>
        <input type="submit" name="submit" value="Update Vehicle" id="addButton" disabled>
        <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %> >
    </fieldset>
  </form>

<script src="../../js/invUpdate.js"></script>